html, body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.8;
    width: 800px;
  }
  header {
    display: flex;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    align-items: center;
  }
  header nav ul {
    list-style-type: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px;
    font-weight: 600;
  }
  header nav ul li a {
    text-decoration: none;
    color: seashell;
  }
  main {
    display: block;
  }
  #about-me {
    display: block;
  }
  p {
    width: 700px;
  }
  .photo-img {
    width: 400px;
    height: 400px;
    margin: 10px 10px 40px 10px;
  }
  #me-button {
    width: 400px;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
  }
  #skills-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 50px;
    margin-bottom: 100px;
  }
  .fab {
    font-family: "Font Awesome 5 Brands";
  }
  #contact-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 50px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
